
@model IEnumerable<Category>

<div class="container my-2">
    <div class="list-group">
        @foreach (var category in Model)
        {
            <div class="list-group-item d-flex align-items-center">
                <span class="w-25">@category.CategoryName</span>
                <a asp-controller="Category" asp-action="Image" asp-route-id="@category.Id">
                    <img width="100" height="100" src="@Url.Action("Image","Category", new { id = category.Id})" />
                </a>
                <a class="btn btn-primary btn-sm ml-auto" asp-action="Update" asp-controller="Category" asp-route-id="@category.Id">Edit</a>
            </div>
        }
    </div>
</div>