@model ProductViewModel

<div class="container">
    <h3 class="text-center py-2 font-weight-light">@ViewBag.Caption</h3>
    <div class="container bg-white py-3 border border-dark-50 rounded">
        <form asp-action="Update">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductName"></label>
                <input class="form-control" type="text" asp-for="ProductName" />
                <span class="text-danger" asp-validation-for="ProductName"></span>
            </div>
            <div class="form-group">

                <label asp-for="CategoryId"></label>
                <select class="form-control" asp-for="CategoryId" asp-items="Model.Categories"></select>
                <span class="text-danger" asp-validation-for="CategoryId"></span>
            </div>
            <div class="form-group">

                <label asp-for="SupplierId"></label>
                <select class="form-control" asp-for="SupplierId" asp-items="Model.Suppliers"></select>
                <span class="text-danger" asp-validation-for="SupplierId"></span>
            </div>
            <div class="form-group">

                <label asp-for="QuantityPerUnit"></label>
                <input class="form-control" type="text" asp-for="QuantityPerUnit" />
                <span class="text-danger" asp-validation-for="QuantityPerUnit"></span>
            </div>
            <div class="form-group">

                <label asp-for="UnitPrice"></label>
                <input class="form-control" type="text" asp-for="UnitPrice" />
                <span class="text-danger" asp-validation-for="UnitPrice"></span>
            </div>
            <div class="form-group">

                <label asp-for="UnitsInStock"></label>
                <input class="form-control" type="number" asp-for="UnitsInStock" />
                <span class="text-danger" asp-validation-for="UnitsInStock"></span>
            </div>
            <div class="form-group">

                <label asp-for="UnitsOnOrder"></label>
                <input class="form-control" type="number" asp-for="UnitsOnOrder" />
                <span class="text-danger" asp-validation-for="UnitsOnOrder"></span>
            </div>
            <div class="form-group">

                <label asp-for="ReorderLevel"></label>
                <input class="form-control" type="number" asp-for="ReorderLevel" />
                <span class="text-danger" asp-validation-for="ReorderLevel"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Discontinued" />
                    <label class="form-check-label" asp-for="Discontinued"></label>
                </div>
            </div>
            <div class="form-group d-flex justify-content-end mr-3 pt-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
