@model ProductViewModel


<form asp-action="Update">
    <div>
        <input type="hidden" asp-for="Id"/>
        <div>
            <label asp-for="ProductName"></label>
            <input type="text" asp-for="ProductName" />
            <span asp-validation-for="ProductName"></span>
        </div>
        <div>
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="Model.Categories"></select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <div>
            <label asp-for="SupplierId"></label>
            <select asp-for="SupplierId" asp-items="Model.Suppliers"></select>
            <span asp-validation-for="SupplierId"></span>
        </div>
        <div>
            <label asp-for="QuantityPerUnit"></label>
            <input type="text" asp-for="QuantityPerUnit" />
            <span asp-validation-for="QuantityPerUnit"></span>
        </div>
        <div>
            <label asp-for="UnitPrice"></label>
            <input type="text" asp-for="UnitPrice" />
            <span asp-validation-for="UnitPrice"></span>
        </div>
        <div>
            <label asp-for="UnitsInStock"></label>
            <input type="text" asp-for="UnitsInStock" />
            <span asp-validation-for="UnitsInStock"></span>
        </div>
        <div>
            <label asp-for="UnitsOnOrder"></label>
            <input type="text" asp-for="UnitsOnOrder" />
            <span asp-validation-for="UnitsOnOrder"></span>
        </div>
        <div>
            <label asp-for="ReorderLevel"></label>
            <input type="text" asp-for="ReorderLevel" />
            <span asp-validation-for="ReorderLevel"></span>
        </div>
        <div>
            <label asp-for="Discontinued"></label>
            <input type="checkbox" asp-for="Discontinued" />
        </div>
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>

</form>
